.card {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	max-width: none;
	background-color: white;
	position: relative;
	border-radius: var(--border-radius);
	padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing);
	margin-bottom: var(--spacing-xs);
	border: 0;
	@include mq(medium) {
		padding: var(--spacing-s) var(--spacing-l);
	}

	h1 {
		margin-bottom: var(--spacing);
	}
	
	&__hole {
		position: absolute;
		width: 30px;
		height: 30px;
		left: var(--spacing-xs);
		top: var(--spacing-xs);
		border-radius: 30px;
	}
	&__date {
		margin-bottom: var(--spacing-xs);
		@extend .small;
	}
	&__title {
		font-family: var(--display-family);
	}
	&__excerpt {
		margin-top: var(--spacing-s);
		@extend .small;
	}
	.btn {
		margin-top: var(--spacing-xs);
	}
}