.site-header {
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.site-header__inner {
	@extend .container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-header__logo {
	font-size: 2rem;
	width: 200px;
	height: 70px;
	margin: 0;
}

.site-header__nav {
	display: block;

	@media only screen and (max-width: 800px) {
		display: none;
	}
}

.site-header__nav ul {
	display: flex;
}

.site-header__nav li {
	margin-left: 1rem;
}

.site-header__nav li a {
	font-size: 16px;
	color: var(--color-text-base);
}

.site-header__menu-btn {
	background: black;
	color: white;
	border: 0;

	@media only screen and (min-width: 800px) {
		display: none;
	}
}
.site-header__menu-btn {
	position: relative;
	background: white;
	color: white;
	border: 0;
	display: block;

	@media only screen and (min-width: 799px) {
		display: none;
	}
}
