// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// margin: 0 auto;
	// max-width: var(--container-global);
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
	width: 100%;
	max-width: var(--container);
	@include mq(medium) {
		padding: 0 1rem;
	}
}
.container--large {
	margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
	max-width: var(--container-l);
}

.main {
	@extend .container;
	max-width: var(--content-width);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}

.wp-block-image,
.wp-block-heading,
.wp-block-columns,
.global-container > p {
	margin: 0 auto;
	padding: 0 2rem;
	max-width: var(--container);
	@include mq(medium) {
		padding: 0 1rem;
	}
}
.content-block,
.wp-block-column {
	.wp-block-image,
	.wp-block-heading,
	.global-container > p {
		padding: 0
	}
}

.wp-block-columns {
	p + .wp-block-heading,
	p + h1,
	p + h2,
	p + h3,
	p + h4 {
		margin-top: var(--spacing-xs);
	}
}

.wp-block-image {
	// + .wp-block-heading,
	// + .news__featured,
	// + p {
	// 	margin-top: var(--spacing-s);
	// 	@include mq(medium) {
	// 		margin-top: var(--spacing);
	// 	}
	// }
}
.wp-block-heading {
	// + .wp-block-image,
	// + .news__featured,
	// + p {
	// 	margin-top: var(--spacing-s);
	// 	@include mq(medium) {
	// 		margin-top: var(--spacing);
	// 	}
	// }
}

.global-container > p {
	width: 100%;
	// + .wp-block-image,
	// + .wp-block-heading,
	// + .news__featured {
	// 	margin-top: var(--spacing-s);
	// 	@include mq(medium) {
	// 		margin-top: var(--spacing);
	// 	}
	// }
}