@font-face {
	font-family: "TheFix";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/thefix.woff') format('woff'),
		url('../fonts/thefix.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
:root {
	--body-family: 'Heebo', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--display-family: 'TheFix', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-weight-light: 100;
	--font-weight-normal: 300;
	--font-weight-bold: 400;
	--font-weight-heavy: var(--font-weight-bold);

	--line-height: 1.5;
	--line-height-headings: 1.1;

	--color-grey-dark: #000;
	--color-grey: #ddd;
	--color-grey-light: #efefef;

	--color-primary: #A744FC;
	--color-secondary: #3E3B3B;
	--color-tertiary: #F0F0E4;
	--color-quaternary: #E2574C;

	--color-text-base: #000;
	--color-text-dark: var(--color-secondary);
	--color-text-reversed: #fff;
	--color-text-link: var(--color-primary);
	--color-text-hover: var(--color-secondary);

	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-instagram: #262626;
	--color-youtube: #cc181e;
	--color-linkedin: #0077B5;

	--body-background-color: #fff;

	--border-radius: 16px;

	--spacing-xxl: 160px;
	--spacing-xl: 128px;
	--spacing-l: 96px;
	--spacing: 64px;
	--spacing-s: 32px;
	--spacing-xs: 16px;

	--container: 924px;
	--container-l: 1430px;
	--content-width: var(--container);
	--container-global: 1430px;

	--font-size: calc(1rem + 0.15vw);
	--font-size-lead: calc(1.2rem + 0.1vw);
	--font-size-small: calc(0.9rem + 0.1vw);
	--font-size-h1: calc(2rem + 0.2vw);
	--font-size-h2: calc(1.8rem + 0.2vw);
	--font-size-h3: calc(1.5rem + 0.2vw);
	--font-size-h4: calc(1.3rem + 0.2vw);
	--font-size-h5: calc(1.2rem + 0.2vw);

	@include mq(large) {
		--font-size-h1: calc(2.5rem + 0.2vw);
		--font-size-h2: calc(2.5rem + 0.2vw);
		--font-size-h3: calc(2rem + 0.2vw);
		--font-size-h4: calc(1.4rem + 0.2vw);
		--font-size-h5: calc(1.2rem + 0.2vw);
	}
}
