@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap);
@charset "UTF-8";
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}

@font-face {
  font-family: "TheFix";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/thefix.woff") format("woff"), url("../fonts/thefix.woff2") format("woff2");
}
:root {
  --body-family: "Heebo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: "TheFix", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-light: 100;
  --font-weight-normal: 300;
  --font-weight-bold: 500;
  --font-weight-heavy: 700;
  --line-height: 1.5;
  --line-height-headings: 1.1;
  --color-grey-dark: #000;
  --color-grey: #ddd;
  --color-grey-light: #efefef;
  --color-primary: #A744FC;
  --color-secondary: #3E3B3B;
  --color-tertiary: #F0F0E4;
  --color-quaternary: #E2574C;
  --color-text-base: var(--color-secondary);
  --color-text-dark: #000;
  --color-text-reversed: #fff;
  --color-text-link: var(--color-primary);
  --color-text-hover: var(--color-secondary);
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: #fff;
  --border-radius: 16px;
  --spacing-xxl: 160px;
  --spacing-xl: 128px;
  --spacing-l: 96px;
  --spacing: 64px;
  --spacing-s: 32px;
  --spacing-xs: 16px;
  --container: 900px;
  --container-l: 1430px;
  --content-width: var(--container);
  --container-global: 1430px;
  --font-size: calc(1rem + 0.15vw);
  --font-size-lead: calc(1.2rem + 0.1vw);
  --font-size-small: calc(0.9rem + 0.1vw);
  --font-size-h1: calc(2rem + 0.2vw);
  --font-size-h2: calc(1.8rem + 0.2vw);
  --font-size-h3: calc(1.5rem + 0.2vw);
  --font-size-h4: calc(1.3rem + 0.2vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(2.5rem + 0.2vw);
    --font-size-h2: calc(2.5rem + 0.2vw);
    --font-size-h3: calc(2rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: var(--font-size);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--body-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-nav {
  background: #eee;
  color: var(--color-text-base);
  border-radius: 8px;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}
p:last-of-type {
  margin-bottom: 0;
}

p.lead {
  font-size: var(--font-size-lead);
  line-height: var(--line-height-headings);
}

.has-large-font-size {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-headings);
}

p.small, p.card__excerpt, p.card__date,
.small p,
.card__excerpt p,
.card__date p {
  font-size: var(--font-size-small);
}

strong {
  font-weight: var(--font-weight-heavy);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-normal);
  font-family: var(--display-family);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

/* Generate block colours */
.has-white-color {
  color: #fff !important;
}

.has-white-background-color {
  background-color: #fff !important;
}

.has-black-color {
  color: #000 !important;
}

.has-black-background-color {
  background-color: #000 !important;
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.has-primary-background-color {
  background-color: var(--color-primary) !important;
}

.has-secondary-color {
  color: var(--color-secondary) !important;
}

.has-secondary-background-color {
  background-color: var(--color-secondary) !important;
}

.has-tertiary-color {
  color: var(--color-tertiary) !important;
}

.has-tertiary-background-color {
  background-color: var(--color-tertiary) !important;
}

.has-quaternary-color {
  color: var(--color-quaternary) !important;
}

.has-quaternary-background-color {
  background-color: var(--color-quaternary) !important;
}

.editor-styles-wrapper .wp-block {
  max-width: var(--container-global);
}

.wp-block-post-content p {
  max-width: var(--container);
  margin: 0 auto var(--spacing-xs) auto;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}

/* Add bullets to list */
.block-editor-block-list__block {
  list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--content-width);
  /* Post title styling */
}

/* Main column width */
.wp-block {
  max-width: var(--container-global);
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

.wp-block-spacer {
  border: 1px dashed var(--color-grey);
}

.edit-post-visual-editor__post-title-wrapper {
  border-bottom: 1px solid var(--color-grey);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.edit-post-visual-editor__post-title-wrapper h1 {
  font-size: 30px;
  font-family: var(--body-family);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-base);
}

.btn {
  font-weight: 400 !important;
}

.video {
  background-color: var(--color-primary);
}

.wp-block-acf-news {
  background: var(--color-primary);
}

.card {
  max-width: none;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .main {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: var(--container);
}
@media (min-width: 50em) {
  .container, .main {
    padding: 0 1rem;
  }
}

.container--large {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--container-l);
}

.main {
  max-width: var(--content-width);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  flex: 1;
}

.wp-block-image,
.wp-block-heading,
.wp-block-columns,
.global-container > p {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: var(--container);
  width: 100%;
}
@media (min-width: 50em) {
  .wp-block-image,
  .wp-block-heading,
  .wp-block-columns,
  .global-container > p {
    padding: 0 1rem;
  }
}

.content-block .wp-block-image,
.content-block .wp-block-heading,
.content-block .global-container > p,
.wp-block-column .wp-block-image,
.wp-block-column .wp-block-heading,
.wp-block-column .global-container > p {
  padding: 0;
}

.wp-block-columns p + .wp-block-heading,
.wp-block-columns p + h1,
.wp-block-columns p + h2,
.wp-block-columns p + h3,
.wp-block-columns p + h4 {
  margin-top: var(--spacing-xs);
}

.global-container > p {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: none;
  background-color: white;
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--spacing-s) var(--spacing-l);
  margin-bottom: var(--spacing-xs);
  border: 0;
}
.card h1 {
  margin-bottom: var(--spacing);
}
.card__hole {
  position: absolute;
  width: 30px;
  height: 30px;
  left: var(--spacing-xs);
  top: var(--spacing-xs);
  border-radius: 30px;
}
.card__date {
  margin-bottom: var(--spacing-xs);
}
.card__title {
  font-family: var(--display-family);
}
.card__excerpt {
  margin-top: var(--spacing-s);
}
.card .btn {
  margin-top: var(--spacing-xs);
}

.single article {
  padding-bottom: var(--spacing-xl);
}
.single article .card {
  padding-bottom: var(--spacing-l);
  margin-bottom: var(--spacing);
}
.single article .card__date {
  margin-top: var(--spacing-s);
}

.content > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}
.content h1 {
  margin-bottom: var(--spacing-s);
}
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}
.content a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.content li {
  margin-bottom: 0.25em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.btn, .button {
  display: inline-block;
  border-radius: 8px;
  padding: 0.1rem 0.6rem;
  border: 1px solid var(--color-primary);
  background-color: white;
  color: var(--color-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover, .btn:focus, .button:hover, .button:focus {
  outline: 0;
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: white;
  text-decoration: none;
}
.btn + .btn, .button + .btn {
  margin-left: 0.5rem;
}
.btn__group, .button__group {
  display: flex;
  flex-direction: row;
}

.btn--primary {
  border: none;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: white;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  margin: 0 0.5rem;
}

.social-links__link {
  color: white;
}
.social-links__link:hover {
  color: var(--color-primary);
}

.accordion {
  max-width: var(--content-width);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  padding: 0;
}

.accordion__item {
  border-top: 1px solid var(--color-grey-light);
}

.accordion__handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: var(--spacing) 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-top: 1px solid var(--color-grey-tint);
}

.accordion__title {
  margin: 0 !important;
  color: var(--color-text-dark);
  text-transform: uppercase;
  font-size: var(--font-size-h5);
  flex: 1;
}
.is-active .accordion__title {
  color: var(--color-primary);
}

.accordion__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 var(--spacing);
}
.accordion__icon:before, .accordion__icon:after {
  content: "";
  position: absolute;
  background: var(--color-text-base);
  transition: transform 0.25s ease-out;
}
.accordion__icon:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.accordion__icon:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.is-active .accordion__icon:before {
  transform: rotate(90deg);
}
.is-active .accordion__icon:after {
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding-bottom: var(--spacing-l);
}
.accordion__body p:first-child {
  margin-top: 0;
}
.accordion__body.is-open {
  display: block;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  padding: 0;
}
@media (min-width: 50em) {
  .content-block {
    flex-direction: column;
  }
}
.content-block a {
  text-decoration: underline;
}
.content-block iframe {
  max-width: 100%;
}
.content-block .wp-block-image,
.content-block h2, .content-block h3, .content-block h4 {
  margin-bottom: var(--spacing-s);
}
.content-block--full {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  margin: 0 2rem 1rem 2rem;
}
@media (min-width: 50em) {
  .content-block--full {
    margin: 0 1rem 1rem 1rem;
  }
}
.content-block--pad {
  padding: 0 var(--spacing-s);
  padding: var(--spacing-xs) var(--spacing-s);
}
@media (min-width: 50em) {
  .content-block--pad {
    padding: 0 var(--spacing-l);
  }
}
.content-block__inner {
  border-radius: var(--border-radius);
}
.content-block__inner p + .wp-block-heading,
.content-block__inner p + h1,
.content-block__inner p + h2,
.content-block__inner p + h3,
.content-block__inner p + h4 {
  margin-top: var(--spacing-xs);
}
.content-block__inner ul {
  margin-left: 1rem;
  list-style-type: disc;
}
.content-block__inner ul li {
  margin-bottom: 1rem;
}
.content-block > .content-block {
  padding: 0;
}
.content-block > .content-block__inner {
  padding: var(--spacing-xs) var(--spacing-s);
}
@media (min-width: 50em) {
  .content-block > .content-block__inner {
    padding: var(--spacing) var(--spacing-l);
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding-top: var(--spacing-s);
  margin: 0 2rem 1rem 2rem;
}
@media (min-width: 50em) {
  .cta {
    padding-top: var(--spacing);
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
  }
}
.cta__form-outer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 50em) {
  .cta__form-outer {
    flex-direction: row;
  }
}
.cta__image {
  text-align: center;
  margin-left: auto;
}
.cta__image img {
  margin: 0 auto;
}
.cta__form {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}
.cta__form form {
  margin-bottom: var(--spacing-s);
}
.cta__image, .cta__form {
  width: 100%;
}
@media (min-width: 50em) {
  .cta__image, .cta__form {
    width: 50%;
  }
}
.cta .wp-block-image,
.cta .wp-block-heading,
.cta .wp-block-columns,
.cta p {
  padding-left: 0;
  padding-right: 0;
}
.cta .wp-block-image {
  width: 50%;
}

.guests {
  -moz-column-count: 1;
       column-count: 1;
  margin: var(--spacing) 0;
}
@media (min-width: 50em) {
  .guests {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: var(--spacing-xs);
         column-gap: var(--spacing-xs);
  }
}
.guests-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  page-break-inside: avoid;
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);
}
.guests-item__image {
  height: 115px;
  width: 115px;
  overflow: hidden;
  border-radius: 130px;
  margin-bottom: var(--spacing-xs);
}
.guests-item .lead {
  margin-bottom: 0;
}
.guests-item .btn {
  margin-top: var(--spacing-xs);
}

.news__featured {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
@media (min-width: 50em) {
  .news__featured {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing-xl);
  }
}
.news__featured h1 {
  text-align: center;
  margin-bottom: var(--spacing-s);
}
@media (min-width: 50em) {
  .news__featured h1 {
    margin-bottom: var(--spacing);
  }
}
.news__featured a.card {
  padding: var(--spacing) var(--spacing-l);
}
.news__featured a.card:hover {
  text-decoration: none;
}
.news__featured a.card:hover .btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.news__featured .card {
  padding: var(--spacing-s) var(--spacing);
}
@media (min-width: 50em) {
  .news__featured .card {
    padding: var(--spacing) var(--spacing-l);
  }
}
.news__featured .card .btn {
  margin-top: var(--spacing-s);
}

.news {
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing-xl);
}
.news__content {
  margin: 0 auto var(--spacing) auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--container);
}
.news .card:hover {
  text-decoration: none;
}
.news .card:hover .btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.u-bold {
  font-weight: bold !important;
}

.u-semibold {
  font-weight: 600 !important;
}

.u-regular {
  font-weight: normal !important;
}

.u-light {
  font-weight: 300 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-caps {
  text-transform: uppercase !important;
}

.u-left-align {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right-align {
  text-align: right !important;
}

.mt-xxl {
  margin-top: var(--spacing-xxl) !important;
}

.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-l {
  margin-top: var(--spacing-l) !important;
}

.mt {
  margin-top: var(--spacing) !important;
}

.mt-s {
  margin-top: var(--spacing-s) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-l {
  margin-bottom: var(--spacing-l) !important;
}

.mb {
  margin-bottom: var(--spacing) !important;
}

.mb-s {
  margin-bottom: var(--spacing-s) !important;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide {
  display: none;
}

@media (max-width: 49.99em) {
  .hidemobile {
    display: none !important;
  }
}

@media (min-width: 50em) {
  .hidedesktop {
    display: none !important;
  }
}

.body--white {
  background-color: white;
}
.body--grey {
  background-color: var(--color-tertiary);
}
.body--dark-grey {
  background-color: var(--color-secondary);
}
.body--dark-grey .site-header__nav li a {
  color: white;
}
.body--purple {
  background-color: var(--color-primary);
}
.body--purple .site-header__nav li:last-of-type a {
  background-color: white;
  color: var(--color-primary);
  padding: 0.1rem 0.4rem;
  border-radius: 8px;
}
.body--purple .site-header__nav li:last-of-type a:hover {
  background-color: var(--color-secondary);
  color: white;
  text-decoration: none;
}
.body--purple .site-header__nav li a {
  color: white;
}

.txt--white, .content-block.bkg--purple,
.cta.bkg--purple, .content-block.bkg--dark-grey,
.cta.bkg--dark-grey {
  color: white;
}
.txt--white h1, .content-block.bkg--purple h1,
.cta.bkg--purple h1, .content-block.bkg--dark-grey h1,
.cta.bkg--dark-grey h1, .txt--white h2, .content-block.bkg--purple h2,
.cta.bkg--purple h2, .content-block.bkg--dark-grey h2,
.cta.bkg--dark-grey h2, .txt--white h3, .content-block.bkg--purple h3,
.cta.bkg--purple h3, .content-block.bkg--dark-grey h3,
.cta.bkg--dark-grey h3, .txt--white h4, .content-block.bkg--purple h4,
.cta.bkg--purple h4, .content-block.bkg--dark-grey h4,
.cta.bkg--dark-grey h4, .txt--white h5, .content-block.bkg--purple h5,
.cta.bkg--purple h5, .content-block.bkg--dark-grey h5,
.cta.bkg--dark-grey h5, .txt--white h6, .content-block.bkg--purple h6,
.cta.bkg--purple h6, .content-block.bkg--dark-grey h6,
.cta.bkg--dark-grey h6, .txt--white p, .content-block.bkg--purple p,
.cta.bkg--purple p, .content-block.bkg--dark-grey p,
.cta.bkg--dark-grey p {
  color: white;
}
.txt--grey {
  color: var(--color-grey) !important;
}
.txt--black, .content-block.bkg--grey,
.cta.bkg--grey, .content-block.bkg--white,
.cta.bkg--white, .news__content {
  color: var(--color-text-base);
}
.txt--black h1, .content-block.bkg--grey h1,
.cta.bkg--grey h1, .content-block.bkg--white h1,
.cta.bkg--white h1, .news__content h1, .txt--black h2, .content-block.bkg--grey h2,
.cta.bkg--grey h2, .content-block.bkg--white h2,
.cta.bkg--white h2, .news__content h2, .txt--black h3, .content-block.bkg--grey h3,
.cta.bkg--grey h3, .content-block.bkg--white h3,
.cta.bkg--white h3, .news__content h3, .txt--black h4, .content-block.bkg--grey h4,
.cta.bkg--grey h4, .content-block.bkg--white h4,
.cta.bkg--white h4, .news__content h4, .txt--black h5, .content-block.bkg--grey h5,
.cta.bkg--grey h5, .content-block.bkg--white h5,
.cta.bkg--white h5, .news__content h5, .txt--black h6, .content-block.bkg--grey h6,
.cta.bkg--grey h6, .content-block.bkg--white h6,
.cta.bkg--white h6, .news__content h6, .txt--black p, .content-block.bkg--grey p,
.cta.bkg--grey p, .content-block.bkg--white p,
.cta.bkg--white p, .news__content p {
  color: var(--color-text-base);
}
.txt--purple {
  color: var(--color-primary);
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.bkg--white {
  background-color: white;
}
.bkg--grey {
  background-color: var(--color-tertiary);
}
.bkg--dark-grey {
  background-color: var(--color-secondary);
}
.bkg--dark-grey h1, .bkg--dark-grey h2, .bkg--dark-grey h3, .bkg--dark-grey h4, .bkg--dark-grey h5, .bkg--dark-grey h6, .bkg--dark-grey p {
  color: white !important;
}
.bkg--purple {
  background-color: var(--color-primary);
}

.bkg--purple .bkg--white h1, .bkg--purple .bkg--white h2, .bkg--purple .bkg--white h3, .bkg--purple .bkg--white h4, .bkg--purple .bkg--white h5, .bkg--purple .bkg--white h6, .bkg--purple .bkg--white p {
  color: var(--color-text-base);
}
