.guests {
	column-count: 1;
	margin: var(--spacing) 0;
	@include mq(medium) {
		column-count: 2;
		column-gap: var(--spacing-xs);
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		page-break-inside: avoid;
		margin-bottom: var(--spacing-xs);
		padding: var(--spacing-xs);
		border-radius: var(--border-radius);
		@include mq(medium) {
			// width: 50%;
			// margin: 0 calc(var(--spacing-xs) / 2);
		}

		&__image {
			height: 115px;
			width: 115px;
			overflow: hidden;
			border-radius: 130px;
			margin-bottom: var(--spacing-xs);
			img {
				width: 100%;
				height: 100%;
			}
		}

		.lead {
			margin-bottom: 0;
		}
		.btn {
			margin-top: var(--spacing-xs);
		}
	}
}