.cta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: var(--border-radius);
	padding-top: var(--spacing-s);
	// padding-bottom: var(--spacing);
	margin: 0 1rem 1rem 1rem;
	@include mq(medium) {
		padding-top: var(--spacing);
		flex-direction: column;
		margin: 0 1rem 1rem 1rem;
	}

	&__form-outer {
		width: 100%;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		@include mq(medium) {
			flex-direction: row;
		}
	}
	&__image {
		text-align: center;
		margin-left: auto;
		img {
			margin: 0 auto;
		}
	}
	&__form {
		margin-top: var(--spacing-xs);
		margin-bottom: var(--spacing-xs);
		form {
			margin-bottom: var(--spacing-s);
		}
	}
	&__image,
	&__form {
		width: 100%;
		@include mq(medium) {
			width: 50%;
		}
	}

	.wp-block-image,
	.wp-block-heading,
	.wp-block-columns,
	p {
		padding-left: 0;
		padding-right: 0;
	}

	.wp-block-image {
		width: 50%;
	}
}